/scripts/tmp
/personal-data/hiera.yaml
/personal-data/.gitconfig
/personal-data/id_rsa
/personal-data/id_rsa.pub
/personal-data/r10k.yaml
/personal-data/GitServerCertificates
/packer_cache

*.box
.vagrant
/tmp