#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=uk --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$VN2iccVGyceNgeUG$ieJtErIOc/E/Lfak/DRHNiMm4nVryVqPngCVTztfnSFda/V7BIMCfeKVTAzIbOXQ0JbnHaYwMEdHXEUEjlYP01
# System timezone
timezone Europe/London --isUtc
user --homedir=/home/mchowdhury --name=mchowdhury --password=$6$dfa35FQlLz54y4jU$OrPER9VxI9o/vQQY1kkG2jgEFlk2qVJWtOfqdR3vd/I4NW1rjt.CjO3U0tM8W5JbeOProTYO3PiZ/lg.ufkue/ --iscrypted --gecos="Mirfath Chowdhury"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

reboot

%packages
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@print-client
@x11

%end